h1 {
    color: pink;
    background-color: rgb(255, 255, 255);

}
body {
    background-color: rgb(255, 255, 255);
}

p {
    color: rgb(163, 58, 123);
}
.hoho:hover {
    border: 2px dotted yellow;
    transition: 2s;
}

#info {
    color: violet;
}

#table_style {
    border: 1px; 
    background-color: lightpink;
    padding: 8px;
    border-collapse: collapse;
    width: 50%;
}

#table_style th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
}

#table_style tr {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#table_style td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.tftable {
    width: 50%;
    padding: 8px;
    background-color: aquamarine; opacity: 50%;
    text-align: center;
    
}

.tftable tr{
    color: cornsilk;
    padding: 8px;
    background-color: black;
    

}

.tftable th{
    background-color: pink;
    color: black; opacity: 100%;
   
}
